{% extends "layout.html" %}
{% set active = 'form' %}
{% block content%}
<h1 id="title">Contact Me!</h1>
<div class="container" id="form">
    <form class="form-horizontal" action="/">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" for="name" required>
        </div>
        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" for="email" required>
        </div>
        <div class="input-group mb-3">
            <textarea class="form-control" placeholder="Message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
</div>
{% endblock content %}