{% extends "layout.html" %}
{% set index =  True %}
{% block content%}
<div id="main">
    <div>
        <h1 id="index_title">Welcome to my Portfolio!</h1>
        <div id="sub_index_title" class="ui container">
            <h2>
                Hi, I'm Michael Pegios!
                I am a Software Engineer and a Computer Science graduate from University of New South Wales.
            </h2>
        </div>
        <a href="/projects">
            <button id="project_link" type="button" class="btn btn-dark">View Projects</button>
        </a>
    </div>
</div>

{% endblock content %}