{% extends "layout.html" %}
{% set active = 'projects' %}
{% block content%}
<h1 id="title">Projects</h1>

<div class="container">
    <div class="row middle-text">
        <div class="bd-example col-sm">
            <a href="https://thermodev.github.io/video-search/" target="_blank">
                <img src="{{ url_for('static', filename='public/images/projects/video-search/project.gif') }}"
                    class="img-fluid" href="/" />
            </a>
        </div>
        <div class="col-sm">
            <h3>Video Search</h3>
            <p>
                A One Page Application that uses React to create Async/Await Axios requests to the Youtube API.
                The search results propagate the video list which is stored in state.
                Clicking on a video updates the selected video in state, which calls the render method with the
                selected video parsed to the VideoPlayer component, which then displays the Youtube video.
            </p>
            <a href="https://thermodev.github.io/video-search/" class="btn btn-primary" target="_blank">
                View Demo
            </a>
            <a href="https://github.com/ThermoDev/video-search" class="btn btn-primary" target="_blank">
                View Code
            </a>
        </div>
    </div>

    <hr />

    <div class="row middle-text">
        <div class="bd-example col-sm">
            <a href="https://thermo-vue-todo.netlify.app/" target="_blank">
                <img src="{{ url_for('static', filename='public/images/projects/vue-todo/project.gif') }}"
                    class="img-fluid" href="/" />
            </a>
        </div>
        <div class="col-sm">
            <h3>Todo App</h3>
            <p>
                A TODO app made using Vue.js.
            </p>
            <p>
                This app makes Async/Await requests to
                <a href="https://jsonplaceholder.typicode.com/">jsonplaceholder</a>
                and allows for pseudo CRUD operations to be performed.
            </p>
            <a href="https://thermo-vue-todo.netlify.app/" class="btn btn-primary" target="_blank">
                View Demo
            </a>
            <a href="https://github.com/ThermoDev/vue-todo" class="btn btn-primary" target="_blank">
                View Code
            </a>
        </div>
    </div>

    <hr />

</div>

{% endblock content %}