{% extends "layout.html" %}
{% block content%}
<h1 id="project_title">Projects</h1>

<div class="container">
    <div class="row">
        <div class="col-sm fotorama" data-allowfullscreen="true" thumbborderwidth="4">
            <img src="../static/public/images/projects/video-search/pic2-min.png">
            <img src="../static/public/images/projects/video-search/pic1-min.png">
            <img src="../static/public/images/projects/video-search/pic3-min.png">
        </div>
        <div class="col-sm-8">
            <h3>Video Search</h3>
            <p>
                A One Page Application that uses React to create Async/Await Axios requests to the Youtube API.
                The search results propagate the video list which is stored in state.
                Clicking on a video updates the selected video in state, which calls the render method with the
                selected video parsed to the VideoPlayer component, which shows a YouTube Video Player.
            </p>
            <a href="https://github.com/ThermoDev/video-search"><button class="btn btn-primary">View Code</button></a>
            <a href="https://thermodev.github.io/video-search/"><button class="btn btn-primary">View Demo</button></a>
        </div>
    </div>
    <!-- <div class="sixteen wide column ui divider"></div> -->
    <!-- 

    <div class="six wide column fotorama" data-allowfullscreen="true">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">"
    </div>
    <div class="ten wide column middle-text">
        <h3>Project Title</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus omnis sequi iusto itaque esse, illo
            voluptates quae quisquam fuga. Eos maxime quos quas autem. Voluptatibus mollitia laudantium eaque saepe
            optio!
        </p>
        <a><button class="ui primary button">View Code</button></a>
        <a><button class="ui primary button">View Demo</button></a>
    </div>
    <div class="sixteen wide column ui divider"></div>


    <div class="six wide column fotorama" data-allowfullscreen="true">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">
    </div>
    <div class="ten wide column middle-text">
        <h3>Project Title</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus omnis sequi iusto itaque esse, illo
            voluptates quae quisquam fuga. Eos maxime quos quas autem. Voluptatibus mollitia laudantium eaque saepe
            optio!
        </p>
        <a><button class="ui primary button">View Code</button></a>
        <a><button class="ui primary button">View Demo</button></a>
    </div>
    <div class="sixteen wide column ui divider"></div>


    <div class="six wide column fotorama" data-allowfullscreen="true">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">
    </div>
    <div class="ten wide column middle-text">
        <h3>Project Title</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus omnis sequi iusto itaque esse, illo
            voluptates quae quisquam fuga. Eos maxime quos quas autem. Voluptatibus mollitia laudantium eaque saepe
            optio!
        </p>
        <a><button class="ui primary button">View Code</button></a>
        <a><button class="ui primary button">View Demo</button></a>
    </div>
    <div class="sixteen wide column ui divider"></div>


    <div class="six wide column fotorama" data-allowfullscreen="true">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">
        <img src="../static/public/images/background.jpg" data-fit="cover">
    </div>
    <div class="ten wide column middle-text">
        <h3>Project Title</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus omnis sequi iusto itaque esse, illo
            voluptates quae quisquam fuga. Eos maxime quos quas autem. Voluptatibus mollitia laudantium eaque saepe
            optio!
        </p>
        <a><button class="ui primary button">View Code</button></a>
        <a><button class="ui primary button">View Demo</button></a>
    </div>
    <div class="sixteen wide column ui divider"></div>
 -->



</div>

{% endblock content %}