html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Fill in this space 100% */
.fill {
  height: 100%;
}

/* Change the background color on mobile devices to black */
/* Set as important as scripts prevent overwriting */
@media (max-width: 767px) {
  .navbar.navbar-expand-md.navbar-dark.fixed-top {
    background-color: black !important;
  }
  .navbar.navbar-expand-md.navbar-dark.fixed-top a {
    margin-right: 0;
  }
}

/* Main Content for the Index Page */
/* Applying Linear Gradient to black on Image  */
/* Also ensuring contents remain in the center */
#main {
  height: 100%;
  width: 100%;
  display: table;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.5) 75%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../images/background-min.jpg");
  background-color: black;
  background-position: center;
  text-align: center;
}

/* Override font-family to enable Roboto as Text Font */
i.fab {
  font-family: 'Font Awesome 5 Brands', 'Roboto';
}

/* Main Table Cell on Home Page */
#main_cell {
  display: table-cell;
  vertical-align: middle;
}

/* Make horizontal lines stand out more using a different color */
hr.thick {
  border-top: 1px solid #ccc;
}

/* Add padding to contents on the Home page */
.home-contents {
  padding: 50px 0px 50px 0px;
  color: black;
  background-color: white;
  margin: auto;
}

#contents {
  margin-top: 5em;
}

p {
  font-size: 14px;
}

.project-text {
  display: inline-flex;
}

.fotorama__wrap {
  margin: auto;
}

#index {
  display: contents;
  padding: 10px;
}

#project_link:hover {
  background-color: black;
}

#project_link {
  font-size: 150%;
  border: 1px solid #ccc;
  margin-bottom: 55px;
}

#index_title {
  color: white;
  text-shadow: 4px 4px black;
  font-weight: 700;
  margin-top: 55px;
}

/* Sub Index Title Styling */
#sub_index_title {
  color: white;
  text-shadow: 1px 1px black;
  padding: 25px;
  max-width: 800px;
  font-weight: 300;
}

/* Title shown on each page */
.title {
  text-align: center;
  padding-bottom: 25px;
  margin-top:25px;
}

/* Conforms the form to have a smaller width */
#form {
  max-width: 750px;
}

.middle-text {
  margin: auto;
  text-align: center;
}

.img-fluid {
  border: 1px solid #ccc;
  /* Before Images are loaded */
  min-height: 150px;
  min-width: 150px;
}

textarea.form-control {
  min-height: 150px;
}

#navbar {
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

#top_link:hover{
  color: white;
}

#top_link {
  color: darkgray;
  text-decoration: underline;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
}

.project > p {
  max-width:450px;
  margin: 0 auto 1rem auto;
}

.project > h3 {
  margin-top: 10px;
}